/*--------------------------
  Components > Button
---------------------------*/


.btn-link {
  padding: 1em 1.5em;
  background-color: $green;
  color: $white;
  border-radius: 0 0 5px 5px;

  position: absolute;
  right: 40px;
  top: 0;

  &:hover {
    text-decoration: none;
    color: $white;
  }
}