/*--------------------------
  Components > Menu 
---------------------------*/

.box-menu {
   width: 200px;
   padding: 3em 1em;
   position: sticky;
   top: 0;
   // border: $prueba;

   h4 {
      margin-bottom: 1.5em;
      font-weight: 700;
   }
}

.menu a .menu-option {
   padding: .5em 0 .5em 1.5em;
   border-radius: $rounded-box;
   color: $grayMedium;
   transition: $transition;
   position: relative;
   
   &:hover {
      color: $white;
      background-color: $orange;
   }

}




